<header class="position-relative">
  <nav class=" position-absolute w-100 navegacion-bar">
    <section class="container-fluid d-flex justify-content-between align-items-center">
      <figure class="logo">
        <img src="../../../../assets/images/logo-cartagena.svg" alt="">
      </figure>
      <div class="navegacion mb-4 d-none d-lg-block">
        <ul>
          <li><a href="">HOME</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">INFO</a></li>
          <li><a href="">TOURS</a></li>
          <li><a href="">TESTIMONIALS</a></li>
          <li><a href="">ROOMS</a></li>
          <li><a href="">TOURS 360</a></li>
          <li><a href="">CONTACTS</a></li>
        </ul>
      </div>
      <div class="menu-movil d-lg-none">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </section>
  </nav>	 
  <section class="hero">
    <div class="txt-hero">
      <h2 class="mb-5">Un plan para la</h2> <h3>historia</h3>
      <div class="text-lg-right"><button class="primario-button">Reserva ya!</button></div>
    </div>
    <section class="reservar1 container-fluid">
      <div class="d-md-flex c-reserva align-items-center justify-content-between">
        <div class="mb-5  mb-md-0">
          <div><p class="mb-2">Fecha</p></div>
          <div class="d-flex justify-content-between justify-content-md-start">
            <h4 class=" text-bold mr-3">Entrada / Salida</h4>
            <div>
              <img src="../../../../assets/images/calendar.svg" alt="">
            </div>
          </div>
        </div>
        <div  class="mb-5 mb-md-0">
          <div><p class="mb-2">Habitaciones</p></div>
          <div class="d-flex justify-content-between justify-content-md-start">
            <h4 class=" text-bold mr-3">1 Hab. 2 Huéspedes</h4>
            <div>
              <img src="../../../../assets/images/chevron-down.svg" alt="">
            </div>
          </div>
        </div>
        <div><button class="primario-button w-100">Reservar</button></div>
      </div>
    </section>
  </section>
  
</header>
<main>
    <section>
    
    </section>
</main>
<footer></footer> 