@charset "UTF-8";

/* CSS Document */
:root {
   --fuente-documento: 'Raleway ligth';
   --color-primario: #009030;
   --color-secundario: #82E0A8;
   --color-terciario: #2D73B5;
   --color-oscuro: #444444;
   --color-error: #F04D51;
   --h1: 4.2rem;
   --h2: 3.2rem;
   --h4: 1.8rem;
   --parrafo: 1.6rem;
   --small-text: 1.4rem;
   --text-bold: 'Raleway bold';
}

html {
   font-size: 62.5%;
}

body {
   font-family: var(--fuente-documento);
   color: var(--color-oscuro);
}

/* ==========================================================================
   header 
   ========================================================================== */
.navegacion-bar {
   background: #00000020;
   padding: 1.0rem;
}

.navegacion ul {
   display: flex;
   justify-content: flex-end;
   text-align: center;
   align-items: center;
   padding-top: 2.0rem;
}

.navegacion ul li {
   font-size: var(--small-text);
   list-style: none;
   margin-right: 2.0rem;
}

.navegacion ul li a {
   color: #ffffff;

}

.hero {
   background: #5C5C5C no-repeat;
   height: 100vh;
   background: url(../images/cartagena.jpg) no-repeat;
   background-size: cover;

}

.logo img {
   max-width: 285px;
   width: 100%;
   min-width: 150px;
}

.txt-hero {
   position: absolute;
   top: 30%;
   left: 5%;
   ;
   color: #fff;
   animation-name: txt-campana;
   animation-duration: 2s;
   transform: translateY(10%);
   animation-timing-function: ease-in-out;
}

.txt-hero h2 {
   font-size: 3.6rem !important;
   font-family: 'Raleway bold';
   line-height: 2.0rem;
}

.txt-hero h3 {
   font-size: 5.4rem !important;
   font-family: 'Raleway bold';
   text-transform: uppercase;
   line-height: 5.0rem;
}

.reservar1 {
   position: absolute;
   width: 100%;
   background: #ffffff;
   bottom: 10%;
   padding: 2.0rem 1.6rem;
}

.reservar2 {
   width: 100%;
   bottom: 10%;
   padding: 2.0rem 1.6rem;
   background: var(--color-terciario);
   color: #ffffff;
}

.c-reserva {
   max-width: 670px;
   margin: auto;
}

.contenedor-pasos {
   display: flex;
   justify-content: space-between;
   max-width: 1200px;
   margin: auto;
   padding: 2.0rem 0 7.0rem 0;
}

.paso-paso {
   width: 33.3%;
   position: relative;
}

.icono-paso {
   background: var(--color-secundario);
   padding: 8px;
   border-radius: 100%;
   width: 45px;
   height: 45px;
   display: flex;
   z-index: 1;
   position: relative;
   justify-content: center;
}

.icono-paso img {
   max-width: 18px;
}

.icono-paso div {
   position: absolute;
   max-width: 1060px;
   font-size: 1.4rem;
   top: 50px;
   left: 50%;
   z-index: 2;
   transform: translate(-50%);
}

.barra-paso {
   background: var(--color-secundario);
   height: 5px;
   width: 100%;
   position: absolute;
   top: 50%;
   z-index: 0;

}

.text-inactivo {
   color: #E0E0E0;
}

.color-inactivo {
   background: #BDBDBD;
}

/* ==========================================================================
   Fin header 
   ========================================================================== */
.container {
   max-width: 1200px !important;
}

.modulo-habitaciones {
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
   border-radius: 6px;
   overflow: hidden;
   margin-bottom: 3.0rem;


}

.imgen-img-habi {
   width: 100%;
   height: 200px;
   object-fit: cover;
}

.imgen-img-adici {
   width: 100%;
   object-fit: cover;
   height: 100%;
}

.info-habi {
   padding: 2.0rem;
}

.precio-habi {
   background: #F7F9FF;
}

.img-habi {
   position: relative;
}

.flecha1-hab {
   position: absolute;
   background: #00000040;
   height: 30px;
   width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   z-index: 2;
}

.flecha2-hab {
   position: absolute;
   background: #00000040;
   height: 30px;
   width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   z-index: 2;
}

.flecha-right {
   transform: rotate(180deg);
}

.manejadores {
   display: flex;
   justify-content: center;
   gap: 8px;
   position: absolute;
   width: 100%;
   bottom: 10px;
   z-index: 2;
}

.manejadores div {
   width: 8px;
   height: 8px;
   background: #ffffff;
   border-radius: 50%;
}

.velo {
   position: absolute;
   content: "";
   height: 100%;
   background: #444444;
   width: 100%;
   z-index: 1;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
   ;
}

.modulo-datos {
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
   padding: 3.0rem 2.0rem;
   border-radius: 6px;
   margin-bottom: 3.0rem;
   border: 1px solid #BDBDBD;
}

.gris-suave {
   background: #F2F2F2;
}

/* ==========================================================================
   footer 
   ========================================================================== */
footer {
   background: var(--color-primario);
   position: absolute;
   bottom: 0;
   width: 100%;
}

.header {
   -webkit-box-shadow: 0 4px 6px -6px #222;
   -moz-box-shadow: 0 4px 6px -6px #222;
   box-shadow: 0 4px 6px -6px #222;
}

@media (max-width:1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

/* ==========================================================================
   Fin footer
   ========================================================================== */



/* ==========================================================================
   CLASES GLOBALES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   ========================================================================== */
/* ==========================================================================
   colors
   ========================================================================== */
.color-primario {
   color: var(--color-primario);
}

.bg-primario {
   background: var(--color-primario) !important;
}

.color-secundario {
   color: var(--color-secundario);
}

.bg-secundario {
   background: var(--color-secundario);
}

.color-error {
   background: var(--color-error);
}

.txt-error {
   color: var(--color-error);
}

/* ==========================================================================
   colors
   ========================================================================== */

/* ==========================================================================
  texts
   ========================================================================== */

p {
   font-size: var(--parrafo);
}

h1 {
   font-size: var(--h1);
}

h2 {
   font-size: var(--h2);
}

h3 {
   font-size: var(--h3);
}

h4 {
   font-size: var(--h4);
}

a {
   color: var(--color-primario);
   text-decoration: underline;
}

.text-bold {
   font-family: var(--text-bold);
}

.text-small {
   font-size: var(--small-text);
}

/* ==========================================================================
  texts
   ========================================================================== */
/* ==========================================================================
   font-face
   ========================================================================== */
@font-face {
   font-family: 'Raleway ligth';
   src: url('../fonts/Raleway-Light.eot');
   src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Light.woff2') format('woff2'),
      url('../fonts/Raleway-Light.woff') format('woff'),
      url('../fonts/Raleway-Light.ttf') format('truetype'),
      url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Raleway medium';
   src: url('../fonts/Raleway-Medium.eot');
   src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Medium.woff2') format('woff2'),
      url('../fonts/Raleway-Medium.woff') format('woff'),
      url('../fonts/Raleway-Medium.ttf') format('truetype'),
      url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Raleway bold';
   src: url('../fonts/Raleway-Bold.eot');
   src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Bold.woff2') format('woff2'),
      url('../fonts/Raleway-Bold.woff') format('woff'),
      url('../fonts/Raleway-Bold.ttf') format('truetype'),
      url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Raleway thin';
   src: url('../fonts/Raleway-Thin.eot');
   src: url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Thin.woff2') format('woff2'),
      url('../fonts/Raleway-Thin.woff') format('woff'),
      url('../fonts/Raleway-Thin.ttf') format('truetype'),
      url('../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Raleway regular';
   src: url('../fonts/Raleway-Regular.eot');
   src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Regular.woff2') format('woff2'),
      url('../fonts/Raleway-Regular.woff') format('woff'),
      url('../fonts/Raleway-Regular.ttf') format('truetype'),
      url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

/* ==========================================================================
  font-face
   ========================================================================== */


/* ==========================================================================
  inputs
   ========================================================================== */

.inputs-datos input[type=text] {
   border: none;
   background: none;
   width: 100%;
   font-size: 1.6rem;
   padding: 14px 14px;
   border: 1px solid #BDBDBD;
   border-radius: 5px;
}

.inputs-datos select {
   border: none;
   background: none;
   width: 100%;
   font-size: 1.6rem;
   padding: 14px 14px;
   border: 1px solid #BDBDBD;
   border-radius: 5px;
   color: #BDBDBD;
}

.inputs-datos textarea {
   border: none;
   background: none;
   width: 100%;
   font-size: 1.6rem;
   padding: 14px 14px;
   border: 1px solid #BDBDBD;
   border-radius: 5px;
   color: #BDBDBD;
}

.inputs-datos label {
   font-size: 1.6rem;
}

.inputs-datos input::placeholder {
   color: #BDBDBD;

}

.primario-button {
   border: none;
   background: var(--color-primario);
   padding: 10px 30px;
   border-radius: 4px;
   font-size: 1.6rem;
   font-family: 'Raleway bold';
   color: #ffffff;
}

.secundario-button {
   border: none;
   background: none;
   padding: 10px 30px;
   border-radius: 4px;
   font-size: 1.6rem;
   font-family: 'Raleway bold';
   color: #ffffff;
   border: 1px solid #ffffff;
}

.secundario-button2 {
   border: none;
   background: none;
   padding: 10px 30px;
   border-radius: 4px;
   font-size: 1.6rem;
   font-family: 'Raleway bold';
   color: var(--color-primario);
   border: 1px solid #828282;
}

.selector-habitacion {
   max-width: 350px;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
   padding: 1.0rem;
   border-radius: 8px;
}

.selector-habitacion p {
   font-size: 1.6rem;
   font-family: 'Raleway bold';
}

.selector-habitacion h5 {
   font-size: 1.4rem;
   font-family: 'Raleway medium';

}

.selector-num {
   display: flex;
   border: 1px solid #E0E0E0;
   justify-content: center;
   align-items: center;
   border-radius: 6px;
   overflow: hidden;
}

.selector-num h4 {
   font-size: 1.6rem;
   padding: 1rem 1.4rem;
   margin-bottom: 0;
}

.selector-num h3 {
   font-size: 2.0rem;
   background: var(--color-primario);
   color: #ffffff;
   padding: 1.0rem;
   margin-bottom: 0;

}

/* ==========================================================================
  inputs
   ========================================================================== */
@media (max-width:1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}


/* ==========================================================================
   CLASES GLOBALES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   ========================================================================== */